bin/
obj/
packages/
output/
*.user
.vs/
.ionide/
.idea/**
!.idea/.idea.Taskington/.idea/indexLayout.xml
!.idea/.idea.Taskington/
!.idea/.idea.Taskington/.idea/
Taskington.Installer.Windows/wix/
**/.DS_Store
